@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-thumb {
  @apply rounded-lg;
}

body.light-theme .scrollbar-thumb {
  background-color: theme('colors.light.scrollbarThumb');
}

body.light-theme .scrollbar-track {
  background-color: theme('colors.light.scrollbarTrack');
}

body.dark-theme .scrollbar-thumb {
  background-color: theme('colors.dark.scrollbarThumb');
}

body.dark-theme .scrollbar-track {
  background-color: theme('colors.dark.scrollbarTrack');
}
